body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Nunito Sans', sans-serif;
}

/* Material UI Global Class and CSS style */

/* Dialog Container customized */
/* .MuiDialog-container {
    height: 75% !important;
} */

.MuiDialog-paperWidthMd {
  min-height: 550px !important;
  width: 100% !important;
}
